<dl>
	<dt>Name: </dt>
	<dd>{{person.full_name}} ({{person.age}})</dd>
	<dt>E-mail: </dt>
	<dd><a {{bindAttr href="person.email_link"}}>{{person.email}}</a></dd>
	<dt>Blog: </dt>
	<dd><a {{bindAttr href="person.blog"}}>{{person.blog}}</a></dd>
	<dt>Twitter: </dt>
	<dd><a {{bindAttr href="person.twitter_link"}}>@{{person.twitter}}</a></dd>
	<dt>Github: </dt>
	<dd><a {{bindAttr href="person.github_link"}}>{{person.github}}</a></dd>
	<dt>StackOverflow: </dt>
	<dd><a {{bindAttr href="person.stackoverflow_link"}}>{{person.name}}</a></dd>
</dl>